@font-face{
    font-family: fonttitols;
    src: url(../fonts/MindBlue_regular_demo.otf);
}
.titoldades{
    font-family: fonttitols;
    font-size: 45px;
}
.titoldadesmedium{
    font-family: fonttitols;
    font-size: 25px;
}
.fonsdades{
    background-color: khaki;
}
#fotoperfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    /*background-color: aqua;*/
    background-image: url("../img_logos/fotolluiscor.jpg");
    box-shadow: #8c8c8c 8px 3px 3px;
}